<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bookstore Login</title>
</head>

<body>

<h1>Bookstore Login</h1>

<p th:if="${param.registered}" style="color: green;">
    Registration successful. Please login.
</p>

<p th:if="${param.error}" style="color: red;">
    Invalid email or password.
</p>

<form th:action="@{/login}" method="post">

    <label>Email</label><br>
    <input type="email"
           name="username"
           placeholder="Enter your email"
           required>

    <br><br>

    <label>Password</label><br>
    <input type="password"
           name="password"
           placeholder="Enter your password"
           required>

    <br><br>

    <button type="submit">Login</button>

</form>

<br>

<a th:href="@{/register}">
    Create a new account
</a>

<br><br>

<a th:href="@{/}">
    Back to Home
</a>

</body>

</html>